<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>18.vue购物车结算</title>
    <style>
        [v-cloak] {
            display: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .cartTable {
            width: 100%;
        }

        .cartTable th {
            padding: 10px 0;
            background-color: rgb(240, 177, 140);
        }

        .cartTable td {
            padding: 10px 0;
            text-align: center;
            border-bottom: 1px #dedede solid;
        }

        .cartTable td button {
            margin: 0 10px;
        }

        .total {
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <template v-if="list.length">
            <table class="cartTable">
                <tr>
                    <th>全选<input type="checkbox" @click="check_all()" v-model="CheckedAll" /></th>
                    <th></th>
                    <th>商品名称</th>
                    <th>商品单价</th>
                    <th>购买数量</th>
                    <th>总金额</th>
                    <th>操作</th>
                </tr>
                <tbody>
                    <tr v-for="(item, index) in list" :key="index">
                        <td><input type="checkbox" v-model="item.checked"></td>
                        <td>{{ index+1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td><button @click="handleReduce(index)"
                                :disabled="item.count == 1">-</button>{{item.count}}<button
                                @click="handleAdd(index)">+</button></td>
                        <td>{{ item.stotal }}</td>
                        <td><button @click="handleRemove(index)">删除</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="total">总价：¥{{ totalprice }}</div>
        </template>
        <div v-else>购物车为空</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                CheckedAll: false,
                list: []
            },
            mounted() {
                this.showData();
                //需要执行的方法可以在mounted中进行触发，其获取的数据可以赋到data中后，可以放在前面进行渲染
            },
            computed: {
                //计算总价
                totalprice() {
                    var total = 0;
                    for (var i = 0; i < this.list.length; i++) {
                        var item = this.list[i];
                        console.log("~~~" + this.list[i]);
                        if (item.checked) {
                            total += item.price * item.count;
                        }
                    }
                    console.log(total);
                    console.log(typeof total);
                    console.log(total.toString().replace(/\B(?=(\d{3})+$)/g, ','));
                    console.log(typeof total.toString().replace(/\B(?=(\d{3})+$)/g, ','));
                    return total.toString().replace(/\B(?=(\d{3})+$)/g, ',')
                }
            },
            methods: {
                showData() {
                    var _this = this;
                    $.ajax({
                        headers: {
                            Accept: "application/json; charset=utf-8"
                        },
                        type: 'post',
                        url: "http://192.168.1.2:1998/index/shoppingCar",
                        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                        // data: {},
                        datatype: "json",
                        success(data) {
                            _this.list = data.shoppingCarList
                            // console.group("%c%s", "color:red", '列表数据');
                            console.log(data.shoppingCarList);
                        }
                    })
                },
                handleReduce(index) {
                    if (this.list[index].count === 1) return;
                    this.list[index].count--;
                    this.list[index].stotal = this.list[index].count * this.list[index].price;
                },
                //增加产品数量
                handleAdd(index) {
                    // console.group("%c%s", "color:red", '2222');
                    console.log(this.list[index]);
                    //限购5个
                    if (this.list[index].count < 5) {
                        this.list[index].count++;
                        this.list[index].stotal = this.list[index].count * this.list[index].price;
                    }
                },
                handleRemove(index) {
                    this.list.splice(index, 1)
                },
                check_all() {
                    console.log(this.CheckedAll);
                    if (this.CheckedAll === false) {
                        this.list.forEach(item1 => {
                            item1.checked = true;
                        });
                    } else {
                        this.list.forEach(item1 => {
                            item1.checked = false;
                        });
                    }
                    this.CheckedAll = !this.CheckedAll;
                }
            }

        })
    </script>
</body>

</html>